.navbar-default{
    transition:500ms ease;
    background:transparent;
  }
  .navbar-default.scrolled{
    background:#000;
  }


.welcome_container{
    background-image: url("../images/imatge_fons.JPG");
    background-position: center; 
    color:#ebebeb;
    
}

.sobre_nosaltres{
  font-size: 1.25rem;
  line-height: 1.5;
  position: relative;
  color: #151515;
  
}

.sobre_nosaltres_titol{
  font-size: 1.75rem;
  margin-bottom: .8em;
  font-family: Playfair Display,serif;
  font-weight: 400;
  line-height: 1.42857;
  color: #151515;

}

.sobre_nosaltres::before{
  display: block;
  width: 30px;
  margin: 1rem 0;
  content: "";
  border-top: 3px solid #806345;

}

.sobre_nosaltres_media{
  padding: 0 20% 0 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .sobre_nosaltres_media::before{
  
    top: 10%;
    left: 20%;
    border: 1px solid #f0f0f0;
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 100%;
    content: "";
  }
}


body{
  font-family: Lato,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
  text-align: left;
  color: #777;
  background-color: #fff;
}


@media (min-width: 768px){
  .seccio_gradient {
    height: 100vh;
    padding: 6rem 0;
}
}

.seccio_gradient {
  min-height: 500px;
  background: url("../images/imatge_gradient_01.png") no-repeat 50%/cover;
}

/* .seccio_gradient:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(#fff,hsla(0,0%,100%,.1) 30%,transparent),linear-gradient(to bottom right,#fff 0,#fff 15%,transparent 30%,transparent);
} */


    


